.table {
    display: block;
    width: 1100px;
    height: 400px;
    overflow: scroll;
    position: relative;
}
.table-scroll-block {
    position: relative;
}
.track-horizontal {
    position: absolute;
    height: 6px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 3px;
    z-index: 5;
}
.track-vertical {
    position: absolute;
    width: 6px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    z-index: 5;
}